simple_web/simple_web/__pycache__/__init__.cpython-39.pyc
simple_web/simple_web/__pycache__/settings.cpython-39.pyc
simple_web/simple_web/__pycache__/urls.cpython-39.pyc
simple_web/simple_web/__pycache__/wsgi.cpython-39.pyc
simple_web/salas/migrations/__init__.py
simple_web/salas/migrations/0001_initial.py
simple_web/salas/migrations/__pycache__/__init__.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0001_initial.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0002_remove_salas_max_time.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0002_salas_inicio_alter_salas_max_time.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0003_alter_salas_inicio.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0003_salas_dia.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0004_remove_salas_inicio_remove_salas_max_time_and_more.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0004_salas_inicio_salas_max_time.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0005_alter_salas_fecha.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0005_salas_codigo_de_la_sala.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0006_alter_salas_fecha.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0006_oficinas.cpython-39.pyc
simple_web/salas/migrations/__pycache__/0007_alter_salas_dia.cpython-39.pyc
simple_web/homepage/__init__.py
simple_web/homepage/__pycache__/__init__.cpython-39.pyc
simple_web/homepage/__pycache__/views.cpython-39.pyc
simple_web/salas/__init__.py
simple_web/salas/__pycache__/__init__.cpython-39.pyc
simple_web/salas/__pycache__/admin.cpython-39.pyc
simple_web/salas/__pycache__/models.cpython-39.pyc
simple_web/simple_web/__init__.py
simple_web/salas/__pycache__/views.cpython-39.pyc
simple_web/db.sqlite3
simple_web/simple_web/asgi.py
simple_web/simple_web/wsgi.py
web01/db.sqlite3
web01/manage.py
web01/home/__init__.py
web01/web01/asgi.py
web01/web01/wsgi.py
web01/web01/__pycache__/__init__.cpython-39.pyc
web01/web01/__pycache__/settings.cpython-39.pyc
web01/web01/__pycache__/urls.cpython-39.pyc
web01/web01/__pycache__/wsgi.cpython-39.pyc
web01/web01/__init__.py
web01/home/__pycache__/views.cpython-39.pyc
web01/home/__pycache__/__init__.cpython-39.pyc
